.u-section-1 .u-sheet-1 {
  min-height: 611px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 35px 535px 0 auto;
}

.u-section-1 .u-gallery-1 {
  height: 492px;
  width: 673px;
  margin: 17px 333px 39px auto;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 23.48%;
}

.u-section-1 .u-over-slide-1 {
  transition-duration: 0.75s;
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 20.34%;
}

.u-section-1 .u-over-slide-2 {
  transition-duration: 0.75s;
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-over-slide-3 {
  transition-duration: 0.75s;
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-over-slide-4 {
  transition-duration: 0.75s;
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-over-slide-5 {
  transition-duration: 0.75s;
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-image-6 {
  object-position: 50% 81.01%;
}

.u-section-1 .u-over-slide-6 {
  transition-duration: 0.75s;
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-over-slide-7 {
  transition-duration: 0.75s;
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-over-slide-8 {
  transition-duration: 0.75s;
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-over-slide-9 {
  transition-duration: 0.75s;
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 469px;
    margin-left: 524px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-gap: 10px;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 75px;
    height: 75px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 75px;
    height: 75px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 75px;
    height: 75px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 75px;
    height: 75px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 75px;
    height: 75px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 75px;
    height: 75px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 75px;
    height: 75px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 75px;
    height: 75px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 282px;
    margin-left: 285px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 60px;
    margin-right: 47px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 212px;
    margin-left: 469px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 17px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-carousel-thumbnail-1 {
    width: 38px;
    height: 38px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 38px;
    height: 38px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 38px;
    height: 38px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 38px;
    height: 38px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 38px;
    height: 38px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 38px;
    height: 38px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 38px;
    height: 38px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 38px;
    height: 38px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 38px;
    height: 38px;
  }
}