.u-section-1 .u-sheet-1 {
  min-height: 577px;
}

.u-section-1 .u-image-1 {
  width: 216px;
  height: 216px;
  margin: 361px 162px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 191px;
  height: 191px;
  margin: -374px 141px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 216px;
  height: 216px;
  margin: -206px 332px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 378px;
  height: 320px;
  margin: -379px auto 0 245px;
}

.u-section-1 .u-image-5 {
  width: 195px;
  height: 195px;
  background-image: url("images/21_Style551.jpg");
  background-position: 50% 50%;
  margin: -320px 342px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 194px;
  height: 194px;
  margin: -198px 148px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 187px;
  height: 187px;
  margin: -190px 556px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 227px;
  height: 122px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 11px 516px 0 auto;
}

.u-section-1 .u-image-9 {
  width: 191px;
  height: 191px;
  margin: 25px auto 0 284px;
}

.u-section-1 .u-image-10 {
  width: 191px;
  height: 191px;
  margin: -191px auto 0 515px;
}

.u-section-1 .u-image-11 {
  width: 191px;
  height: 191px;
  margin: -187px 418px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -358px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -231px;
    margin-right: 63px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -44px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-5 {
    width: 274px;
    height: 274px;
    margin-top: -855px;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 165px;
    margin-right: -18px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -81px;
    margin-right: 225px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -333px;
    margin-right: auto;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 125px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -148px;
    margin-left: 245px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -751px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 254px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -277px;
    margin-left: 162px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -622px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 353px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 349px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 349px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 463px;
  }

  .u-section-1 .u-image-3 {
    width: 138px;
    height: 138px;
    margin-top: -355px;
    margin-right: 36px;
  }

  .u-section-1 .u-image-4 {
    height: 272px;
    width: 272px;
    margin-top: -230px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-5 {
    width: 104px;
    height: 104px;
    margin-top: -335px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-6 {
    width: 119px;
    height: 119px;
    margin-top: 200px;
    margin-right: 14px;
  }

  .u-section-1 .u-image-7 {
    width: 133px;
    height: 133px;
    margin-top: -416px;
    margin-right: 137px;
  }

  .u-section-1 .u-image-8 {
    height: 119px;
    width: 232px;
    margin-top: 185px;
    margin-right: 123px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 912px;
}

.u-section-2 .u-tabs-1 {
  min-height: 896px;
  height: auto;
  width: 912px;
  margin: 16px 120px 0 auto;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-5 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-6 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 24px 8px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-table-1 {
  width: 830px;
  margin: 24px auto 0;
}

.u-section-2 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-36 {
  text-transform: uppercase;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-41 {
  text-transform: uppercase;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-table-cell-46 {
  text-transform: uppercase;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 9px;
}

.u-section-2 .u-image-1 {
  width: 132px;
  height: 132px;
  margin: 652px 326px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 150px;
  height: 150px;
  margin: -176px 68px 0 auto;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: -758px 24px 0 16px;
}

.u-section-2 .u-btn-9 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -18px 60px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 17px 25px;
}

.u-section-2 .u-text-3 {
  font-weight: bold;
  font-size: 1.125rem;
  margin: 13px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 12px 0 0;
}

.u-section-2 .u-image-3 {
  width: 140px;
  height: 140px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: -96px auto 0 99px;
}

.u-section-2 .u-image-4 {
  width: 140px;
  height: 140px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -140px auto 0 273px;
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  text-transform: uppercase;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -90px 55px 0 auto;
  padding: 9px 26px 11px 25px;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 25px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 26px auto 0 313px;
}

.u-section-2 .u-image-5 {
  width: 137px;
  height: 117px;
  margin: 320px 288px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 125px;
  height: 125px;
  margin: -117px 132px 0 auto;
}

.u-section-2 .u-text-6 {
  margin: -414px 0 0;
}

.u-section-2 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 69px 80px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-tab-pane-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 25px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 372px 0 320px;
}

.u-section-2 .u-text-8 {
  margin: 18px 39px 0 0;
}

.u-section-2 .u-image-7 {
  width: 144px;
  height: 144px;
  margin: -518px 297px 0 auto;
}

.u-section-2 .u-image-8 {
  width: 144px;
  height: 144px;
  margin: -144px 98px 0 auto;
}

.u-section-2 .u-btn-12 {
  border-style: solid;
  text-transform: uppercase;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 261px 138px 0 auto;
}

.u-section-2 .u-tab-pane-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 9px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 31px auto 0 342px;
}

.u-section-2 .u-text-10 {
  margin: 16px 16px 0;
}

.u-section-2 .u-image-9 {
  width: 230px;
  height: 114px;
  margin: -149px 80px 0 auto;
}

.u-section-2 .u-btn-13 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  margin: 51px 34px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    width: 1152px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-tabs-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-table-1 {
    width: 673px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 243px;
  }

  .u-section-2 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 276px;
    margin-left: 224px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 269px;
  }

  .u-section-2 .u-btn-13 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-tabs-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-table-1 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 189px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 201px;
    margin-left: 149px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 200px;
  }
}

.u-section-2 .u-btn-10,
.u-section-2 .u-btn-10:before,
.u-section-2 .u-btn-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-10.u-btn-10.u-btn-10:hover {
  transform: scale(1) translateX(10px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-2 .u-btn-10.u-btn-10.u-btn-10.hover {
  transform: scale(1) translateX(10px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-2 .u-container-layout:hover .u-btn-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-9,
.u-section-2 .u-btn-9:before,
.u-section-2 .u-btn-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-9.u-btn-9.u-btn-9:hover {
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-2 .u-btn-9.u-btn-9.u-btn-9.hover {
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-12,
.u-section-2 .u-btn-12:before,
.u-section-2 .u-btn-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-12.u-btn-12.u-btn-12:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-12.u-btn-12.u-btn-12.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-13,
.u-section-2 .u-btn-13:before,
.u-section-2 .u-btn-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-13.u-btn-13.u-btn-13:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-13.u-btn-13.u-btn-13.hover {
  border-radius: 10px !important;
}